ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color:red;
  background-color:aqua;       /*general selector*/
}

.note{
  font-size:20px;    /*only on the class*/
}

#id-selector-demo{    /* unique one per html code*/
  color:whitesmoke;
  background-color:#5D3891;
}

li[value="4"]{
  color:blue       /*only on the class*/
}   

*{
  text-align: center
}
