ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color:red;
  background-color:aqua;       /*Element General selector*/
}

.note{
  font-size:20px;    /*class selector - only on the class*/
}

#id-selector-demo{    /*id selector - unique one per html code*/
  color:whitesmoke;
  background-color:#5D3891;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:line-through;
  text-align:center;                      
  font-size:30px;
}

li[value="4"]{
  color:blue;     /*Attribute selector - only on the class*/
}   

*{
  text-align: center;   /*Universal selector - its for the whole html*/
}
